body {
    background-image: url(/public/Resources/Logos/LOGOCENIC.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
  }

body, html {
    height: 100%;
}