@font-face {font-family: "Circular Std Medium";
  src: url("/public/Resources/Fonts/9475d6a0b79c164f9f605673714e75d9.eot"); /* IE9*/
  src: url("/public/Resources/Fonts/9475d6a0b79c164f9f605673714e75d9.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("/public/Resources/Fonts/9475d6a0b79c164f9f605673714e75d9.woff2") format("woff2"), /* chrome、firefox */
  url("/public/Resources/Fonts/9475d6a0b79c164f9f605673714e75d9.woff") format("woff"), /* chrome、firefox */
  url("/public/Resources/Fonts/9475d6a0b79c164f9f605673714e75d9.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("/public/Resources/Fonts/9475d6a0b79c164f9f605673714e75d9.svg#Circular Std Medium") format("svg"); /* iOS 4.1- */
}
  
  body{
  
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      
      }
    
      h1 {
        text-align: center;
        font-size: 20px;
      }
    
      h2{
        font-size: 15px;
        text-align: center;
      }
    
      h3 {
        font-size: 15px;
        text-align: center;
      }
      h4 {
        text-align: center;
        font-size: 10px;
    }
    
      .top-buffer {
        margin-top: 15px;
      }
    
      .myBTN {
        background-color: #3d70b2;
        border-color: #3d70b2;
      }
    
        
        .wrapper{margin:10vh}
    
        .cstm-height-card .card-img-top {
          height: 100px;
          object-fit: cover;
          border: none;
        }
    
        .special-card {
          background-color: rgba(0, 0, 0, 0);
          /* border-color: #EFC100; */
          border-color: rgba(0, 0, 0, 0);
        }
      
        .Myheader {
          padding: 15px;
      }
    
      .MyFooter {
        padding: 55px;
      }