@font-face {font-family: "Circular Std Medium";
  src: url("/public/Resources/Fonts/9475d6a0b79c164f9f605673714e75d9.eot"); /* IE9*/
  src: url("/public/Resources/Fonts/9475d6a0b79c164f9f605673714e75d9.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("/public/Resources/Fonts/9475d6a0b79c164f9f605673714e75d9.woff2") format("woff2"), /* chrome、firefox */
  url("/public/Resources/Fonts/9475d6a0b79c164f9f605673714e75d9.woff") format("woff"), /* chrome、firefox */
  url("/public/Resources/Fonts/9475d6a0b79c164f9f605673714e75d9.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("/public/Resources/Fonts/9475d6a0b79c164f9f605673714e75d9.svg#Circular Std Medium") format("svg"); /* iOS 4.1- */
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

.resp-iframe {
    position: relative;
    overflow: hidden;
    padding-top: 57%;
}

.button {
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: bold;

}

.button1 {
  background-color: #016EB9;
  color:rgb(255, 255, 255);
  border: 1px solid #016EB9;
  border-radius:4px;
  font-size: 11px;
}

.button1:hover{
  background-color: #005eff;
  border: 1px solid #005eff;
}


.button2 {
  background-color: #016EB9;
  color:rgb(255, 255, 255);
  border: 1px solid #016EB9;
  border-radius:4px;
  margin-left: 10%;
  margin-top: 4.5%;
  font-size:12px;
}

.button2:hover{
  background-color: #005eff;
  border: 1px solid #005eff;
}

.button3 {
  background-color: #016EB9;
  color:rgb(255, 255, 255);
  border: 1px solid #016EB9;
  border-radius:4px;
  margin-left: 10%;
  margin-top: 4.5%;
  font-size:12px;
}

.button3:hover{
  background-color: #005eff;
  border: 1px solid #005eff;
}

.button4 {
  background-color: #016EB9;
  color:rgb(255, 255, 255);
  border: 1px solid #016EB9;
  border-radius:4px;
  margin-left: 10%;
  margin-top: 4.5%;
  font-size:12px;
}

.button4:hover{
  background-color: #005eff;
  border: 1px solid #005eff;
}

.button5 {
  background-color: #016EB9;
  color:rgb(255, 255, 255);
  border: 1px solid #016EB9;
  border-radius:4px;
  margin-left: 10%;
  margin-top: 4.5%;
  font-size:12px;
}

.button5:hover{
  background-color: #005eff;
  border: 1px solid #005eff;
}

.myBTN {
  background-color: #016EB9;
  border-color: #016EB9;
  font-weight: bold;
}
   
#ar-button {
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #016EB9;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 132px;
  padding: 0px 16px 0px 16px;
  font-size: 14px;
  color:#fff;
  line-height: 36px;
  height: 38px;
  border-radius:4px;
  border: 1px solid #016EB9;
  font-weight: bold;
}
   
  #ar-button:active {
    background-color: #005eff;
    color:#fff;
  }

  #ar-button:hover{
    background-color: #005eff;
    border: 1px solid #005eff;
  }

  #ar-button:focus {
    outline: none;
  }

  #ar-button:focus-visible {
    outline: 1px solid #4285f4;
  }
   
   @keyframes circle {
    from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
    to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
  }

  @keyframes elongate {
    from { transform: translateX(100px); }
    to   { transform: translateX(-100px); }
  }

  .container1{
    width: auto;
  }

  #iframemotos{
    max-width: 100%;
    width: 100%;
    display: block;
    max-height: 100%;
    height: 810px;
    box-shadow: unset;
    background: transparent
  }

  model-viewer{
    max-width: 100%;
    width: auto;
    display: block;
    max-height: 100%;
    height: 100%
  }
   
   model-viewer > #ar-prompt {
    position: absolute;
    left: 50%;
    bottom: 175px;
    animation: elongate 2s infinite ease-in-out alternate;
    display: none;
  }

  model-viewer[ar-status="session-started"] > #ar-prompt {
    display: block;
  }

  model-viewer > #ar-prompt > img {
    animation: circle 4s linear infinite;
  }
   
   model-viewer > #ar-failure {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 175px;
    display: none;
  }
   
   model-viewer[ar-tracking="not-tracking"] > #ar-failure {
    display: block;
  }
   
  .text-block {
  position: absolute;
  bottom: 20px;
  right: 200px;
  background-color:  rgba(0, 0, 0, 0.2);
  color: rgb(255,218,39);
  font-size: 12px;
  padding-left: 50px;
  padding-right: 50px;
}

 .modal{
    background:#016fb9bb;
    width:38%;
    color:rgb(255, 255, 255);
    font-size:14px;
    text-align:left;
    padding:33px;
    height: 30%;
    border-radius:22px;
    position:absolute;
    left:60%;
    top:20%;
    display:none;
 }

   .ventana {
     background:#FFCF35;
     width:20%;
     color:rgb(67, 67, 67);
     font-size:14px;
     text-align:left;
     padding:33px;
     min-height:200px;
     border-radius:22px;
     position:absolute;
     left:76%;
     top:17%;
     display:none;
   }

  .ventana1 {
    background:#016fb9bb;
    width:38%;
    color:rgb(255, 255, 255);
    font-size:14px;
    text-align:left;
    padding:33px;
    height: 30%;
    border-radius:22px;
    position:absolute;
    left:60%;
    top:20%;
    display:none;
  }

  .ventana2 {
    background:#016fb9bb;
    width:38%;
    color:rgb(255, 255, 255);
    font-size:14px;
    text-align:left;
    padding:33px;
    height: 70%;
    border-radius:22px;
    position:absolute;
    left:60%;
    top:3%;
    display:none;
  }

  .ventana3 {
    background:#016fb9bb;
    width:38%;
    color:rgb(255, 255, 255);
    font-size:14px;
    text-align:left;
    padding:33px;
    height: 70%;
    border-radius:22px;
    position:absolute;
    left:60%;
    top:3%;
    display:none;
  }

  .ventana4 {
    background:#016fb9bb;
    width:38%;
    color:rgb(255, 255, 255);
    font-size:14px;
    text-align:left;
    padding:33px;
    height: 70%;
    border-radius:22px;
    position:absolute;
    left:60%;
    top:3%;
    display:none;
  }
   
  #cerrar{
    position:absolute;
    right:3px;
    top:1px;
    width: 80%;
  }
  
   
h1 {
    text-align: center;
    font-size: 19px;
    font-weight: bold;
  }
h3 {
    font-size: 8px;
    text-align: center;
  }

h4 {
    text-align: center;
    font-size: 10px;
}

  .top-buffer {
    margin-top: 15px;
  }
.Myheader {
    padding: 10px;
    /* background: #EFC100;
    background: -webkit-radial-gradient(top left, #EFC100, #5AABFA);
    background: -moz-radial-gradient(top left, #EFC100, #5AABFA);
    background: radial-gradient(to bottom right, #EFC100, #5AABFA); */
}

.MyFooter {
    padding: 55px;
  }

